<% content_for(:page_title) do %>
  <%= t('collections') + ' - ' + t('blacklight.application_name') %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t('collections') %></h1>
    </div>
  </div>
  <div class="row">
      
    <% @collections.each do |path, collection| %>
      <div class="col-md-4 col-sm-6">
        <a href="<%= '/collections/' + collection.tab_path %>">
          <img src="<%= collection.img_src %>"/>
          <h2><%= collection.title %></h2>
        </a>
      </div>
    <% end %>
      
  </div>
</div>