<% content_for(:page_title) do %>
  <%= @item.title + ' - ' + t('blacklight.application_name') %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <a href="/collections" class="back"><%= t('collections') %></a>
      <%= render partial: 'shared/above_tabs', locals: {item: @item} %>
    </div>
  </div>
  <%= render partial: 'shared/tab_row', locals: {item: @item, skip: ['intro', 'extra']}%>
  <div class="row">
    <div class="col-md-12">
      <% @item.tabs[params[:tab]].tap do |current_tab| %>
        <% if current_tab.respond_to?(:each) %>
          <% current_tab.each do |current_tab_cell| %>
            <div class="document col-md-4 col-sm-6">
              <a href="/catalog/<%= current_tab_cell.id %>">
                <img src="<%= current_tab_cell.thumbnail_src %>">
                <div class="info"><%= current_tab_cell.title %></div>
              </a>
            </div>
          <% end %>
        <% else %>
          <%= current_tab.html_safe %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12">
      <%= @item.tabs['extra'].html_safe if @item.tabs['extra']%>
    </div>
  </div>
</div>
