<% content_for(:page_title) do %>
  <%= t('collections') + ' - ' + t('blacklight.application_name') %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <a href="/collections"><%= t('collections') %></a>
      <%= render partial: 'shared/above_tabs', locals: {set: @collection} %>
    </div>
  </div>
  <%= render partial: 'shared/tab_row', locals: {skip: ['intro', 'extra']}%>
  <div class="row">
    <div class="col-md-12">
      <%= @collection.tabs[params[:tab]].html_safe if @collection.tabs[params[:tab]]%>
    </div>
    <div class="col-md-12">
      <%= @collection.tabs['extra'].html_safe if @collection.tabs['extra']%>
    </div>
  </div>
</div>
