<% content_for(:page_title) do %>
  <%= t('collections') + ' - ' + t('blacklight.application_name') %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <%= @collection.title_html %>
      </h1>
      <div>
        <%= @collection.head_html.html_safe %>
      </div>
    </div>
  </div>
  <div class="row">
    <% (@tabs.keys - ['extra', 'credits']).each do |tab| %>
      <% is_current = tab == params[:tab] %>
      <div class="tab col-md-2 <%= 'tab-current' if is_current %>">
        <%= link_to_unless(is_current, tab.titlecase, tab) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div>
      <%= @collection.tabs[params[:tab]].html_safe %>
    </div>
    <div>
      <%= @collection.tabs['extra'].html_safe %>
    </div>
  </div>
</div>
