<% content_for(:page_title) do %>
  <%= t('exhibits') + ' - ' + t('blacklight.application_name') %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p><%= t('exhibits') %></p>
      <h1>
        <%= @exhibit.title_html %>
      </h1>
      <h2>
        By <%= @exhibit.author %>
      </h2>
    </div>
  </div>
  <div class="row">
    <% (@tabs.keys).each do |tab| %>
      <% is_current = tab == params[:tab] %>
      <div class="tab col-md-2 <%= 'tab-current' if is_current %>">
        <%= link_to_unless(is_current, tab.titlecase, tab) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= @exhibit.tabs[params[:tab]].html_safe %>
    </div>
  </div>
</div>
