<div id="footer" class="container-fluid">
  <div class="row">
    <ul class="col-md-4">
      <p><b><%= link_to(t('series'), '/series') %></b></p>
      <p><b><%= link_to(t('exhibits'), '/exhibits') %></b></p>
      <p><b><%= link_to(t('collections'), '/collections') %></b></p>
    </ul>
    <ul class="col-md-3">
      <p><%= link_to('About Us', '/TODO') %></p>
      <p><%= link_to('Blog', '/TODO') %></p>
      <p><%= link_to('Contact Us', '/TODO') %></p>
      <p><%= link_to('Help', '/TODO') %></p>
      <p><%= link_to('Credits', '/TODO') %></p>
      <p><%= link_to('Privacy Policy', '/TODO') %></p>
      <p><%= link_to('Terms and Conditions', '/TODO') %></p>
      <p><%= link_to('Visiting the Archives', '/TODO') %></p>
    </ul>
    <div class="col-md-5">
      <img src="/wgbh-logo.svg"><br/>
      Copyright &copy; 2015 WGBH Educational Foundation<br/>
      All rights reserved
    </div>
  </div>
</div>    
