<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <ul class="col-md-4 col-xs-12 primary-links">
      <!-- <ul class="col-sm-4 col-xs-6"> -->
        <p><%= link_to(t('series'), '/series') %></p>
        <p><%= link_to(t('exhibits'), '/exhibits') %></p>
        <p><%= link_to(t('collections'), '/collections') %></p>
      </ul>
      <ul class="col-md-4 col-xs-12">
      <!-- <ul class="col-sm-3 col-xs-6"> -->
        <p><%= link_to('About Us', '/about') %></p>
        <p><%= link_to('Blog', 'http://blog.openvault.wgbh.org/') %></p>
        <p><%= link_to('Contact Us', '/contact-us') %></p>
        <p><%= link_to('Help', '/help') %></p>
        <p><%= link_to('Credits', '/credits') %></p>
        <p><%= link_to('Privacy Policy', '/privacy-policy') %></p>
        <p><%= link_to('Terms and Conditions', '/terms-and-conditions') %></p>
        <p><%= link_to('Visiting the Archives', '/visiting-the-archives') %></p>
      </ul>
      <div class="col-md-4 col-xs-12">
        <img src="<%= (params[:controller] == 'home') ? "/wgbh-logo-grey.svg" : "/wgbh-logo.svg" %>" />
        <div class="copyright">
          Copyright &copy; 2015 WGBH <br/>
          Educational Foundation<br/>
          All rights reserved
        </div>
      </div>
    </div>
  </div>    
</div>
