<nav id="footer" class="container-fluid">
  <ul class="col-md-4">
    <li><%= link_to('WGBH Series', '/TODO') %></li>
    <li><%= link_to('Scholar Exhibits', '/TODO') %></li>
    <li><%= link_to('Special Collections', '/TODO') %></li>
  </ul>
  <ul class="col-md-3">
    <li><%= link_to('About Us', '/TODO') %></li>
    <li><%= link_to('Blog', '/TODO') %></li>
    <li><%= link_to('Contact Us', '/TODO') %></li>
    <li><%= link_to('Help', '/TODO') %></li>
    <li><%= link_to('Credits', '/TODO') %></li>
    <li><%= link_to('Privacy Policy', '/TODO') %></li>
    <li><%= link_to('Terms and Conditions', '/TODO') %></li>
    <li><%= link_to('Visiting the Archives', '/TODO') %></li>
  </ul>
  <div class="col-md-5">
    Copyright 2015 WGBH Educational Foundation. All rights reserved.
  </div>
</nav>    
