<% items.each do |item| %>
  <div class="col-md-4 col-sm-6">
    <a href="<%= '/' + path + '/' + item.tab_path %>">
      <!-- Sort order: <%= item.head_html.gsub('<p>', '').to_f %> -->
      <img src="<%= item.img_src %>"/>
      <div class="wrap">
        <div class="info">
          <h2><%= item.title %></h2>
          <% if item.respond_to? :author %>
            by <%= item.author %>
          <% end %>
        </div>
      </div>
    </a>
  </div>
<% end %>