<% anchor = 'tabs' %>
<ul id="<%= anchor %>">
  <% (item.tabs.keys).reject { |x| skip.include?(x) }.tap do |tabs|
    tabs.each do |tab| %>
      <li>
        <% unless tab == params[:tab] %>
          <a href="<%= tab %>#<%= anchor %>" >
            <%= tab.titlecase %>
          </a>
        <% else %>
          <span class="pointer">&#x25B6;</span>
          <%= tab.titlecase %>
        <% end %>
      </li>
    <% end if tabs.count > 1
    end %>
</ul>