<% anchor = 'tabs' %>
<div class="row" id="<%= anchor %>">
  <% (item.tabs.keys).reject { |x| skip.include?(x) }.tap do |tabs|
    tabs.each do |tab| %>
      <% unless tab == params[:tab] %>
        <a    class="tab col-md-2" href="<%= tab %>#<%= anchor %>" >
          <%= tab.titlecase %>
        </a>
      <% else %>
        <span class="tab col-md-2 tab-current">
          <%= tab.titlecase %>
        </span>
      <% end %>
    <% end if tabs.count > 1
    end %>
</div>