<div>
  <a href="/catalog/<%= document.id %>">
    <div class="video-container">
      <video src="<%= document.proxy_src %>" poster="<%= document.thumb_src %>" 
             loop muted oncontextmenu="return false;" preload="none"
             onmouseover="this.play();" onmouseout="this.pause();" >
      </video>      
    </div>
  </a>
  <div class="video-links">
    <a href="/catalog/<%= document.id %>"><%= document.clip_title %></a>
    <a href="<%= document.watermarked_src %>" target="_blank" class="pull-right"><span class="glyphicon glyphicon-download-alt"></span></a>
  </div>
</div>
