<div id="player">
  <% 
    # These should be complementary. The goal is to keep the 
    # media at about the same width regardless of screen width.
    media_col_class = 'col-lg-4 col-md-5 col-sm-6 col-xs-12'
    transcript_col_class = 'col-lg-8 col-md-7 col-sm-6 col-xs-12'
  %>
  <div class="<%= media_col_class %>">

    <% if  @pbcore.image? %>
      <%= tag('img', src: @pbcore.proxy_srcs.first) %>
    <% end %>

    <% if @pbcore.audio? || @pbcore.proxy_srcs.empty? %>
      <%= tag('img', src: @pbcore.thumbnail_src) %>
    <% end %>

    <% if geoblocked? %>
      <strong>Note:</strong> This content is not available in your region.
    <% elsif !@pbcore.proxy_srcs.empty? %>
      <%= content_tag(@pbcore.video? ? 'video' : 'audio', 
                    controls: true, id: 'player-media',
                    oncontextmenu: 'return false;',
                    poster: @pbcore.thumbnail_src) do %>
        <% @pbcore.proxy_srcs.each do |src| %>
          <%= tag('source', src: src, type: @pbcore.video? ? 'video/mp4' : 'audio/mp3') %>
        <% end %>
        <!-- We have transcripts, but not SRT caption files:
          <track kind="captions" src="..."/>
        -->
      <% end %>
    <% end %>

    <% if @pbcore.playlist_group %>
      <div id="playlist" class="<%= media_col_class %>">
        <% if @pbcore.playlist_prev_id %>
          <a href="/catalog/<%= @pbcore.playlist_prev_id %>" class="pull-left">&#x25c0; Previous</a>
        <% end %>
        <% if @pbcore.playlist_next_id %>
          <a href="/catalog/<%= @pbcore.playlist_next_id %>" class="pull-right">Next &#x25b6;</a>
        <% end %>
      </div>
    <% end %>

  </div>
    
  <div class="<%= transcript_col_class %>">
    <% (@pbcore.aapb_url || @pbcore.boston_tv_news_url).tap do |site_url| %>
      <% if site_url %>
        <p>
          <% verb = @pbcore.video? ? 'View' : 'Listen' %>
          <% site_name = @pbcore.aapb_url ? 'American Archive of Public Broadcasting' : 'Boston TV News Digital Library' %>
          <%= verb %> online at the 
          <a href="<%= site_url %>" target="_blank"><%= site_name %>
            <small><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small></a>
        </p>
      <% end %>
    <% end %>  
      
    <% if !@pbcore.digitized? %>
      <p>
        Undigitized item:
        <span class="btn btn-primary btn-sm" 
              onclick="$('#request-modal').modal('show');">
            Request Digitization</span>
      </p>
    <% end %>
      
    <% if @pbcore.transcript_src %>
      <iframe id="transcript" src="/transcripts/<%= @pbcore.id %>"
              frameBorder="0" height="400"></iframe>
      <% 'got_it'.tap do |cookie_name| %>
        <% if !cookies[cookie_name] %>
          <div id="find-help" class="well well-sm" style="margin-bottom: 0;"><small>
              <script>
                (function() {
                  // Anonymous function for variable scoping.
                  var message;
                  if (navigator.platform.indexOf("Mac")!==-1) {
                    message = '&ldquo;&#x2318; F&rdquo;';
                  } else if (navigator.userAgent.match(/iPod|iPad|iPhone/i)) {
                    message = 'the address bar at the top of the screen';
                  } else { 
                    message = 'control-F';
                  }
                  document.write('Looking for something? Use ' + message + ' to search the transcript.');
                })();
              </script>
              <span class="btn btn-primary btn-sm pull-right"
                    onclick="
                      $('#find-help').hide();
                      document.cookie = '<%= cookie_name %>=y;max-age=<%= 60*60*24*365 %>';
                    ">Got it</span>
          </small></div>
        <% end %>
      <% end %>
    <% elsif !@pbcore.image? %>
      <p>
        Untranscribed item: 
        <span class="btn btn-primary btn-sm" 
              onclick="$('#request-modal').modal('show');">
            Request Transcription</span>
      </p>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <%# Parent div collapses without this clearfix: I don't really understand the problem. %>
</div>

<div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="request-modal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="request-modal-title">Digitization and Transcription Requests</h4>
      </div>
      <div class="modal-body">
        <p>
          You can contribute to the digitization and transcription of materials on Open Vault.
          Costs vary between items, and digitization may be restricted by copyright,
          but explain your interests via 
          <a href="mailto:openvault@wgbh.org?<%=
            {
              subject: 'Digitization request',
              body: 'I am interested in http://openvault.wgbh.org/catalog/' + @pbcore.id
            }.to_query
          %>">email</a>, 
          and we will work with you to make more historic WGBH content available to the world.
        </p>
        <p>
          If you are interested in licensing stock footage please visit
          <a href="http://wgbhstocksales.org">WGBH Stock Sales</a>, or contact us directly at 
          <a href="mailto:stock_sales@wgbh.org">stock_sales@wgbh.org</a> or 617-300-3939.
        </p>
        <p>
          If you are a researcher you may schedule an appointment to visit 
          the WGBH Media Library and Archives in Boston, Massachusetts by emailing
          <a href="mailto:archive_requests@wgbh.org">archive_requests@wgbh.org</a>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" 
                onclick="$('#request-modal').modal('hide');">
            Close</button>
      </div>
    </div>
  </div>
</div>