<div id="content" class="container">
  <%= render partial: 'catalog/search_header_form_and_contact' %>
  <hr />
  <div class="row">
    <div class="col-md-6 pull-left">
      <h1><%= @document.clip_title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <video controls="true"
        oncontextmenu="return false;" 
        width="100%"
        poster="<%= @document.thumb_src %>"
        src="<%= @document.proxy_src %>">
      </video>
      <p>
        
          To license this clip, please <a href="/about/contact_us">contact us</a> and reference the clip #ID number and clip title.
          <strong> Clip rates are:  $180 for Standard Definition (SD) clips;   $250 for HD clips
        </strong> 
      </p>
    </div>

    <div class="col-md-6">
    <%= render partial: 'catalog/field_list',
               locals: { columns: 1,
                         field_list: @document.labels_and_values( :clip_description,
                                                                  :clip_keywords) } %>
    <%= render partial: 'catalog/field_list',
               locals: { columns: 2,
                         field_list: @document.labels_and_values( :id,
                                                                  :event_date,
                                                                  :event_location,
                                                                  :program,
                                                                  :series,
                                                                  :category,
                                                                  :length,
                                                                  :aspect_ratio,
                                                                  :codec,
                                                                  :digital_wrapper,
                                                                  :dimensions,
                                                                  :format,
                                                                  :type) } %>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="row no-gutter">
    <%= render partial: 'shared/call_to_action' %>
  </div>
</div>
