<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      
      <% if @pbcore.password_required? %>
        <%= render partial: 'password_modal' %>
      <% end %>
      
      <h1><%= @pbcore.title %></h1>
      <%= content_tag('p', @pbcore.date) if @pbcore.date %>
      
      <%= content_tag('p', @pbcore.asset_description) %>
      
      <%= render partial: 'player' %>
      
      <% verb = @pbcore.video? ? 'View' : 'Listen' %>
      <% if @pbcore.aapb_url %>
        <p><%= verb %> online at the <a href="<%= @pbcore.aapb_url %>">American Archive of Public Broadcasting</a>.</p>
      <% end %>
      <% if @pbcore.boston_tv_news_url %>
        <p><%= verb %> online at the <a href="<%= @pbcore.boston_tv_news_url %>">Boston TV News Digital Library</a>.</p>
      <% end %>
      
      <dl>
        <% [
              {field: 'series_title', label: 'Series', facet_link: true},
              {field: 'program_title', label: 'Program', facet_link: true},
              {field: 'program_number'},
              {field: 'asset_title', label: 'Title'},
              {field: 'series_description'},
              {field: 'program_description'},
              {field: 'duration'},
              {field: 'asset_type'},
              {field: 'media_type'},
              {field: 'subjects', facet_link: true},
              {field: 'locations', facet_link: true},
              {field: 'genres', facet_link: true},
              {field: 'topics', facet_link: true},
              {field: 'creators', search_link: true},
              {field: 'contributors', search_link: true},
              {field: 'publishers', label: 'Publication Information', search_link: true},
              {field: 'rights_summary'}
            ].each do |field_def| %>
          <%= render partial: 'pbcore_field', locals: field_def %>
        <% end %>
      </dl>
    </div>
  </div>
</div>