<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      
      <% if @pbcore.password_required? %>
        <%= render partial: 'password_modal' %>
      <% end %>
      
      <h1><%= @pbcore.title %></h1>
      <%= content_tag('p', @pbcore.date) if @pbcore.date %>
      
      <%= content_tag('p', @pbcore.asset_description) %>
      
      <%= render partial: 'player' %>
      
      <p>
        <% verb = @pbcore.video? ? 'View' : 'Listen' %>
        <% if @pbcore.aapb_url %>
          <%= verb %> online at the <a href="<%= @pbcore.aapb_url %>">American Archive of Public Broadcasting</a>
        <% end %>
        <% if @pbcore.boston_tv_news_url %>
          <%= verb %> online at the <a href="<%= @pbcore.boston_tv_news_url %>">Boston TV News Digital Library</a>
        <% end %>
      </p>
      
      <dl>
        <% [
              {field: 'series_title', label: 'Series', link: true},
              {field: 'program_title', label: 'Program', link: true},
              {field: 'program_number'},
              {field: 'asset_title', label: 'Title'},
              {field: 'series_description'},
              {field: 'program_description'},
              {field: 'duration'},
              {field: 'asset_type'},
              {field: 'media_type'},
              {field: 'subjects', link: true},
              {field: 'locations', link: true},
              {field: 'genres', link: true},
              {field: 'topics', link: true},
              {field: 'creators'},
              {field: 'contributors'},
              {field: 'publishers', label: 'Publication Information'},
              {field: 'rights_summary'}
            ].each do |field_def| %>
          <%= render partial: 'pbcore_field', locals: field_def %>
        <% end %>
      </dl>
    </div>
  </div>
</div>