<%= stylesheet_link_tag "locals/collectioncard.css" %>
<main class="container-fluid" role="main">

  <div class="row treasury-title">

    <h1>
      <%= @item.title %>
    </h1>
  </div>

  <div class="row treasury-description">
    <div class="col-md-6">
      <%= @item.description %>

    </div>

    <div class="col-md-6">
      <img src="<%= @item.poster_image %>">
    </div>
  </div>

  <%= react_component("CollectionSeasons", { seasons: @item.seasons }) %>
</main>