<% content_for(:page_title) do %>
  <%= t('series') + ' - ' + t('blacklight.application_name') %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <main class="col-md-12" role="main">
      <h1><%= t('series') %></h1>
      <% @series_by_first_letter.each do |the_letter,group| %>
        <a name="<%= the_letter %>"></a>
        <div class="letters">
          <% @series_by_first_letter.map { |pair| pair.first }.each do |a_letter| %>
            <%= link_to_unless(a_letter == the_letter, a_letter, "##{a_letter}") %>
          <% end %>
        </div>
        <ul>
          <% group.each do |title, counts| %>

            <li><a href="/catalog?<%= {f: {access: [PBCore::ALL], series_title: [title]}}.to_query %>">
              <%= title %>:
              <% if counts[:online] %>
                <%= counts[:online] %> <%= PBCore::ONLINE %>
                <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
              <% else %>
                 <%= counts[:all] %>
              <% end %>
            </a></li>
          <% end %>
        </ul>
      <% end %>
    </main>
  </div>
</div>
